{% extends 'base.html' %} {% block content %}
<!-- Our  Glasses section -->
<div class="glasses">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="titlepage">
          <h2>Our Fashion</h2>
          <p>This is our fashion product, please view and buy quality fashion products that are attractive to your eyes at our Alpa Fashion.</p>
          <center>
            <p><b>HAPPY SHOPPING!</b></p>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/jeans1.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>359.999</h3>
          <p>Art Jeans</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/jeans2.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>259.999</h3>
          <p>Flower Jeans</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/jeans3.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>329.999</h3>
          <p>Dragon Art Jeans</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/jeans4.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>269.999</h3>
          <p>Metalica Jeans</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/jeans5.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>219.999</h3>
          <p>Comic Jeans</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/belt1.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>309.999</h3>
          <p>Obbi Belt</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/belt2.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>354.999</h3>
          <p>Camellia Belt</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/belt3.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>279.999</h3>
          <p>Zeebee Belt</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/belt4.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>289.999</h3>
          <p>Margaretta Belt</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/dasi1.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>189.999</h3>
          <p>Goldie Tie</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/dasi2.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>239.999</h3>
          <p>Skinny Grey Tie</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/dasi3.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>209.999</h3>
          <p>Art Tie</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/dasi6.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>229.999</h3>
          <p>Broken White Tie</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/dasi7.jpg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>279.999</h3>
          <p>Ethnic Tie</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja1.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>159.999</h3>
          <p>Seorina Blouse</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja2.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>199.999</h3>
          <p>Crop Linen Blouse</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja3.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>245.999</h3>
          <p>Madania Blouse</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja4.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>165.999</h3>
          <p>Cerena Dorothy Blouse</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja5.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>219.999</h3>
          <p>Aeri Jasmine Blouse</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="glasses_box">
          <figure><img src="/static/images/kemeja6.jpeg" alt="#" /></figure>
          <h3><span class="blu">Rp</span>344.999</h3>
          <p>Bytha Crop Blouse</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Our  Glasses section -->
{% endblock %}
