{% extends 'base.html' %} {% block content %}
<!-- about section -->
<div class="about">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-5">
        <div class="about_img">
          <figure><img src="/static/images/stylish5.jpeg" alt="#" /></figure>
        </div>
      </div>
      <div class="col-md-7">
        <div class="titlepage">
          <h2>About Our Fashion</h2>
          <p>
            ALPA FASHION merupakan tempat pembelanjaan fashion online terdepan, menyediakan brand lokal dan internasional. Kami memiliki banyak produk fashion yang dapat memenuhi kebutuhan fashion Anda, mulai dari rok hingga gaun, sepatu
            kets hingga sandal, pakaian olahraga hingga jam tangan, dan masih banyak lagi.
          </p>
        </div>
        <a class="read_more" href="#">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- about section -->
{% endblock %}
