{% extends 'base.html' %} {% block content %}
    <!-- end header -->
    <!-- Our shop section -->
    <div id="about" class="shop">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <div class="shop_img">
              <figure><img src="images/stylish5.jpeg" alt="#" /></figure>
            </div>
          </div>
          <div class="col-md-7 padding_right0">
            <div class="max_width">
              <div class="titlepage">
                <h2>Best Fashion & Style At Our shop</h2>
                <p>
                  Produk fashion ini merupakan salah satu produk yang banyak diminati oleh para costumer, mulai dari kualitas bahan, jahitan, dan warna yang bervariasi menjadikan alasan mengapa produk ini gemari oleh para costumer ALPA
                  Fashion
                </p>
                <a class="read_more" href="glasses.html">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Our shop section -->
    {% endblock %}
  </body>
</html>
